<html>
	<head>
		<!-- CHANGE TITLE AND META ACCORDINGLY -->
		<title>Lavail</title>
		<meta name="description" content="Faiz Malkani, Designer and Developer for Android and the Web">
		<meta name="keywords" content="faiz, malkani, android, ui, ux, frontend">
		<meta name="copyright" content="Copyright © 2014 Faiz Malkani. All Rights Reserved.">
		<meta name="author" content="Faiz Malkani">
		<meta name="theme-color" content="#ffffff">
		<meta content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" name="viewport">
		
	
		<%= stylesheet_link_tag 'tidy', media: 'all' %>
		<%= stylesheet_link_tag 'animate', media: 'all' %>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
		<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
        <link href="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="import" href="bower_components/paper-ripple/paper-ripple.html">
		<link rel="import" href="bower_components/paper-fab/paper-fab.html">
		<link rel="import" href="bower_components/iron-icons/iron-icons.html">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

	</head>
	<body>
	
		<div class="container" style="width: 100%">
			<!-- COVER IMAGE AND FLOATING BUTTON -->
			<div class="cover-image">
			    
			    
			</div>	
			
			<div class="desktop-fab-container ">
				<!-- REPLACE WITH YOUR APP URL -->
     			<a href="YOUR_APP_URL_HERE">
     				<paper-fab class="wow fadeInUp desktop-fab" icon="shop"></paper-fab>
     			</a>
			</div>
			
			<!-- ICON, NAME AND DESCRIPTION -->
			<div class="wow fadeInUp content-card">
				<!-- REPLACE WITH YOUR APP URL -->
				<a href="YOUR_APP_URL_HERE">
					<paper-fab class="mobile-fab" icon="shop"></paper-fab>
				</a>
				
				<div class="icon-and-title-flex">
					<img src="http://www.creativelysimpledesign.com/wp-content/uploads/2016/05/lavailstack-aris.jpg" class="appicon"></img>
		
					<div class="title-container" style="margin-top: 10% !important;">
						<!-- REPLACE WITH YOUR APP NAME -->
						<span class="text-title">Hi. <br><br>My website is currently changing into something a bit more <strong>Material</strong>! In the meantime, here's some useful information.</span>
						<br><div class="intertext-padding"></div>
						<!-- REPLACE WITH YOUR DEV NAME -->
						<span class="text-subtitle">Previously Employed @ Ingeniux Corporation</span>
						<br><div class="intertext-padding"></div>
						<!-- REPLACE WITH YOUR APP PRICE -->
						<span class="text-subtitle"><strong>Freelance Web Designer | Ruby on Rails Developer</strong> <em style= "font-size: 16px;"> Currently seeking full-time employment or Contracts</em></span>
						<hr>
					</div>	
					
				</div><br><br>
				<!-- REPLACE WITH YOUR APP DESCRIPTION -->
				<span class="text-description" style="font-size: 1.1em">My love for technoloy started at a young age. Born from curiousity, and now sustained by passion. It was this love that fueled my desire that I could rise from the life of hardship and poverty.<br><br>Now seeking positions related to Ruby on Rails, UI/UX, Automation, & DevOps. At this time, I am not interested in fields outside of technology.

                    Latest rails project - 
                    
                    <strong><em><a href="http://www.hiremeseattle.com/" style="color: #0ba379" target="blank">HireMeSeattle.com</a></em></strong>: "<strong><em>A collaborative social jobs platform helping the underrepresented community find meaningful jobs and careers in STEM</em></strong>."
			</div>
			
			
			
			<!-- OTHER APPS BY YOU -->
			<div class="wow fadeInUp content-works"> 
			    <div class="screenshot-item">
                    <a href="http://www.hiremeseattle.com/" target="blank">
                        <img src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/hmseattle-logo.png">
                    </a>
                </div>
                <div class="screenshot-item">
                    <a href="http://www.creativelysimpledesign.com/" target="blank" >
                        <img src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/sily-lavail.png">
                    </a>
                </div>
                <div class="screenshot-item">
                    <a href="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/lavail-lass-logo.png" data-featherlight="image">
                        <img src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/lavail-lass-logo.png">
                    </a>
                </div>
                <div class="screenshot-item">
                    <a href="https://golocalseattle.herokuapp.com/" target="blank">  <!-- data-featherlight="image" -->
                        <img src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/GoLocal-lavail.png">
                    </a>
                </div>
     	    </div>
		
		
		<!-- APP DETAILS -->
		<div class="wow fadeInUp content-card" style="margin-top: 0;">
     		<span class="text-subtitle" style="font-size: 2em; font-weight: 300; color: #333">My Info</span>
			<br><br>
			<div>
				<!-- REPLACE WITH YOUR APP DETAILS ACCORDINGLY -->
				<div class="detail-item">
				    <iron-icon class="details-icon" icon="star"></iron-icon>
					<span class="text-description"><a href="https://twitter.com/arisnance" target="blank">Twitter</a></span>
				</div>
				<div class="detail-item">
					<iron-icon class="details-icon" icon="star"></iron-icon>
					<span class="text-description"><a href="https://github.com/ArisNance" target="blank">Github</a></span>
				</div>
				<div class="detail-item">
					<iron-icon class="details-icon" icon="info"></iron-icon>
					<span class="text-description"><a href="https://www.facebook.com/arisnance" target="blank">Facebook</a><span>
					    
				</div>
				<div class="detail-item">
					<iron-icon class="details-icon" icon="mail"></iron-icon>
					<span class="text-description"><a href="https://www.linkedin.com/in/arisnance/" target="blank">LinkedIn</a></span>
				</div>
				<!--<div class="detail-item">-->
				<!--	<iron-icon class="details-icon" icon="android"></iron-icon>-->
				<!--	<span class="text-description">Android 4.0.3+</span>-->
				<!--</div>-->
				<!--<div class="detail-item">-->
				<!--	<iron-icon class="details-icon" icon="assessment"></iron-icon>-->
				<!--	<span class="text-description">10,000+ downloads</span>-->
				<!--</div>-->
				<!--<div class="detail-item">-->
				<!--	<iron-icon class="details-icon" icon="extension"></iron-icon>-->
				<!--	<span class="text-description">Contains in-app purchases</span>-->
				<!--</div>-->
			</div>	
     	</div>
		
		<!-- SPACE BELOW DETAILS -->	
		<div class="empty-space">
			<div class="meta-container wow fadeInUp">
				<div class="wow fadeInUp detail-item watermark credits">
						<span class="text-description credits-text" style="color: #ffffff"> <a href="http://faizmalkani.com" style="color: #fff; font-weight: 700">Aris Nance</a></span>
				</div>
			</div>	
		</div>
			
			
			
			
			
		<!-- ===================================================================================================== -->
			
		<!-- JAVASCRIPT -->
		
		<!-- Animations -->
		<!--<script src="js/wow.min.js"></script>-->
		<%= javascript_include_tag 'wow', 'data-turbolinks-track' => true %>
		<script>
			new WOW().init();
		</script>
		
		<!-- Scrollwheel Smoothing -->
		<script>
			$(function()
			{	
				var $window = $(window);
				var scrollTime = 0.2;
				var scrollDistance = 270;
				$window.on("mousewheel DOMMouseScroll", function(event)
				{
	
					event.preventDefault();	
					var delta = event.originalEvent.wheelDelta/120 || -event.originalEvent.detail/3;
					var scrollTop = $window.scrollTop();
					var finalScroll = scrollTop - parseInt(delta*scrollDistance);
					TweenMax.to($window, scrollTime, 
					{
						scrollTo : { y: finalScroll, autoKill:true }, ease: Power1.easeOut, overwrite: 5	 
						
					});
				});
			});
		</script>
	</body>
</html>	